<!DOCTYPE html>
<html lang="en">

<head>
    {% load static%}
    <title>Portfolio</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <!-- <link href="css/style.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">

</head>

<body>

    <div class="main">



        <header>
            <div class="logo">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRs3jftLhcJ1wl-pkR61k3jV8c9H8SFghLuIA&usqp=CAU" alt="">
                <p>TekHunt</p>
            </div>

            <nav>
                <i class="fa fa-bars round"></i>
                <!--<i class="fas fa-hamburger fa-2x"></i>-->
                <div class="menu">
                    <a href="">HOME</a>
                    <a href="">ABOUT</a>
                    <a href="">PROJECTS</a>
                    <a href="">CONTACT</a>

                </div>
            </nav>
        </header>



        <!--

        <nav class="navbar">
            <div>
                <a class="link logo" href="#"> <i class="fa fa-code"></i> TekHunt <i class="fa fa-code"></i> </a>
            </div>

            <a class="link" href="#">Home</a>
            <a class="link link-name" href="#">About </a>
            <a class="link" href="#">Projects</a>
            <a class="link" href="#">Contact</a>
        </nav>
        -->

        <div class="top-div">




            <div class="center-content">
                <div class="sub-div">
                    <div class="text">
                        <h1>Hi,</h1>
                        <p>My Name is Chiazam Ochiegbu. </p>
                        <p>A software developer </p>
                        <h4>&amp;</h4>
                        <p> a Machine Learning Engineer</p>


                    </div>
                    <div class="connect-message">
                        <h3>Please feel free to connect with me <span><i class="fa fa-arrow-right"></i></span></h3>
                    </div>
                    <div class="socials">
                        <ul>
                            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                            <li><a href=""><i class="fa fa-twitter"></i></a></li>
                            <li><a href=""><i class="fa fa-instagram"></i></a></li>
                            <li><a href=""><i class="fa fa-facebook"></i></a></li>
                        </ul>

                    </div>
                </div>

            </div>
            <hr>

            <!--My repos-->

        </div>






        <!--projects section-->





        <div class="services">
            <h3 class="hire me">Hire Me</h3>
            <h3 class="hire"><a href="mailto:abc@example.com?subject = Feedback&body = Message">
                Send E-mail
                </a></h3>
            <h3 class="hire">Place a call</h3>
            <h3 class="hire"><a href="./static/downloads/ChiazamResume.pdf" download>Download resume</a></h3>
        </div>




        <h2 class="ai">View Recent Projects</h2>


        <div class="projects-container">
            <div class="projects">
                <div class="inner inner1">
                    <a href=""></a>
                </div>
                <p class="desc"><a href="https://tekhunt.github.io/UdemyClone/">Responsive replica of Udemy landing page</a></p>
            </div>
            <div class="projects">
                <div class="inner inner2">
                    <a href=""></a>
                </div>
                <p><a href="https://github.com/Tekhunt/Creditcard-fraud-detection">Credit cards fraud detection </a> </p>
            </div>
            <div class="projects">
                <div class="inner inner3">
                    <a href=""></a>
                </div>
                <p><a href="https://tekhunt.github.io/dmec/"> Classic potfolio landing page </a></p>
            </div>
            <div class="projects">
                <div class="inner inner4">
                    <a href=""></a>
                </div>
                <p><a href="https://tekhunt.github.io/frontend_job/">Feebback web app</a> </p>
            </div>


        </div>





        <!--Collaborations-->

        <h2 class="ai">Contributions & and Achievements</h2>







        <!--Blog Post-->
        <h2 class="ai">Blog Posts <i class="fas fa-blog"></i></h2>
        <div class="blog-container">
            <div class="item1 topic">
                <h3 class="hot bpost">Hot Topic <i class="fa fa-arrow-right"></i></h3>
            </div>
            <div class="item1">
                <p><i class="fa fa-quote-left"></i> Designers working with AI can create designs faster and <br> more cheaply due to the increased speed and efficiency it offers. <br> The power of AI will lie in the speed in which it can analyze <br> vast
                    amounts of data and suggest design adjustments. A designer can then <br> cherry-pick and approve adjustments based on that data. <i class="fa fa-quote-right"></i></p>
                <h3 class="read">Read more...</h3>
            </div>
            <div class="item1 butn"><button>Visit Blog</button></div>
        </div>







        <!--Footer section-->

        <hr class="trule">



        <div class="footer-div">
            <ul class="r1">
                <li>TekHunt</li>
                <li>Hire me</li>
                <li>Home</li>
                <li>Contact</li>
                <li>About</li>

            </ul>


            <ul class="padme">
                <li>Careers</li>
                <li>Blog</li>
                <li>Achievements</li>
                <li>Affiliates</li>
                <li class="hide">Terms</li>
                <li>Privacy Policy</li>
            </ul>


            <ul class="padme">
                <li>Machine Learning</li>
                <li>Software Development</li>
                <li>Data Science</li>
                <li>Deep Learning</li>
                <li class="hide">Computer Vision</li>
                <li class="hide">Statistics & Probability</li>

            </ul>


            <ul class="media padme">
                <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                <li><a href=""><i class="fa fa-twitter"></i></a></li>
                <li><a href=""><i class="fa fa-instagram"></i></a></li>
                <li><a href=""><i class="fa fa-facebook"></i></a></li>
                <li><a href=""><i class="fa fa-envelope"></i></a></li>

            </ul>
        </div>






        <footer> <small>&copy; Copyright 2021 TekHunt, All Rights Reserved</small> </footer>

    </div>

    <!-- <script src="index.js"></script> -->

</body>

</html>